[submodule "webapp"]
	path = webapp
	url = git@github.com:caputomarcos/boeing-webapp.git
[submodule "cross-platform"]
	path = cross-platform
	url = git@github.com:caputomarcos/boeing-cross-platform.git
[submodule "web-app"]
	path = web-app
	url = git@github.com:caputomarcos/boeing-webapp.git
[submodule "flow"]
	path = flow
	url = git@github.com:caputomarcos/boeing-flow.git
[submodule "flows"]
	path = flows
	url = git@github.com:caputomarcos/boeing-flows.git
